# Automatically load the nix flake development environment
# Requires direnv: https://direnv.net/
#
# Setup:
#   1. Install direnv
#   2. Add 'eval "$(direnv hook bash)"' to your shell rc file
#   3. Run 'direnv allow' in this directory

use flake

# Watch these files for changes to reload the environment
watch_file flake.nix
watch_file flake.lock
